<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiikeGomi"
        tools:targetApi="31">
        <activity
            android:name=".splash.SplashActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.ui.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".register.ui.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".add_product.ui.AddProductActivity"
            android:exported="true" />
        <activity
            android:name=".add_category.ui.AddCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".administrate_category.ui.AdminCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".administrate_products.ui.AdminProductsActivity"
            android:exported="true" />
        <activity
            android:name=".shopping_cart.ui.ShoppingCartActivity"
            android:exported="true" />
        <activity
            android:name=".payment.ui.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".add_address.ui.AddAddressActivity"
            android:exported="true" />
        <activity
            android:name=".select_edit_address.ui.SelectEditAddressActivity"
            android:exported="true" />
        <activity
            android:name=".my_purchases.ui.MyPurchasesActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>